node_modules
test
bin
.npmignore
index.ts
tsconfig.json
typings.d.ts
vite.config.ts
src
dist/index.mjs.map
dist/index.umd.js.map
.github
.vscode
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc.json
.eslintcache
vite.config.ts.timestamp*
config.ts.timestamp*
.temp
.DS_Store
package-lock.json
pnpm-lock.yaml
test.ts
